<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gamsystech.user.newbleupdated">
    <!-- ble permission -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- other permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="gamsystech.user.BLE_Test_APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/aap_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.readingdemo_activity.ReadingDemo"></activity>
        <activity
            android:name=".activities.registration_activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.SetPin" />

        <activity android:name=".activities.instruction_activity.InstructionActivity" >


        </activity>
        <activity android:name=".activities.login_activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".activities.home_activity.HomeActivity" />
        <activity
            android:name=".activities.adduser_activity.AddUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CreatePin" />
    </application>

</manifest>